<ion-content [fullscreen]="true">
  <div class="profile-container">
    <!-- Tarjeta de perfil -->
    <div class="avatar-container">
      <ion-avatar>
        <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
      </ion-avatar>
    </div>
    <ion-card class="profile-card">
      <ion-card-header>
      </ion-card-header>

      <ion-card-content>
        <div class="profile-info">
          <h2>Nombre de Usuario</h2>
          <p>correoejemplo.com</p>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta de opciones -->
    <ion-card class="options-card">
      <ion-card-header>
        <ion-card-title>Opciones</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Cambiar a Modo Oscuro</ion-label>
          <ion-toggle (ionChange)="toggleDarkMode($event)"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
