<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenidos a La Cumpleteria!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Nos especializamos en ofrecer una experiencia culinaria única que captura la esencia de la comida callejera chilena.
      </p>
      <p>
        En La Cumpleteria, estamos comprometidos a brindar productos frescos y de alta calidad que honran la tradición 
        de los completos, con una variedad de ingredientes que puedes personalizar según tus preferencias. Nuestro objetivo es 
        ofrecerte una experiencia gastronómica deliciosa y accesible desde la comodidad de tu hogar.
      </p>
      <p>
        Nuestro equipo está formado por apasionados por la gastronomía chilena, y trabajamos con dedicación para asegurar que 
        cada completo sea una celebración de sabor y autenticidad. Valoramos tu satisfacción y nos esforzamos por superar tus 
        expectativas con cada pedido.
      </p>
      <p>
        Gracias por elegirnos para disfrutar de uno de los platos más icónicos de Chile. Estamos encantados de ser parte de tu 
        experiencia culinaria y esperamos seguir sirviéndote con lo mejor de la comida chilena.
      </p>
      <p>
        Para más información o consultas, no dudes en contactarnos. ¡Buen provecho!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
