<ion-content [fullscreen]="true">
  <!-- Card de bienvenida con borde de línea entrecortada y curva -->
  <div class="image-container">
    <img src="assets/img/bienvenida-cumpleteria.png" alt="Bienvenido a la Cumpletería">
  </div>

  <!-- Texto descriptivo -->
  <div class="image-info-container">
    <img src="assets/img/nosotros.png" alt="NOSOTROS" id="imgNosotros">
  </div>
  <div id="text-card">
    <ion-card-content>
      <p>
        Nos especializamos en ofrecer una experiencia culinaria única que captura la esencia de la comida callejera chilena.
        <br>
        <br>
        En La Cumpletería, estamos comprometidos a brindar productos frescos y de alta calidad que honran la tradición 
        de los completos, con una variedad de ingredientes que puedes personalizar según tus preferencias. Nuestro objetivo es 
        ofrecerte una experiencia gastronómica deliciosa y accesible.
        <br>
        <br>
        Nuestro equipo está formado por apasionados por la gastronomía chilena, y trabajamos con dedicación para asegurar que 
        cada completo sea una celebración de sabor y autenticidad. Valoramos tu satisfacción y nos esforzamos por superar tus 
        expectativas con cada pedido.
        <br>
        <br>
        Gracias por elegirnos para disfrutar de uno de los platos más icónicos de Chile. Estamos encantados de ser parte de tu 
        experiencia culinaria y esperamos seguir sirviéndote con lo mejor de la comida chilena.
        <br>
        <br>
        Para más información o consultas, no dudes en contactarnos. ¡Buen provecho!
      </p>
    </ion-card-content>
  </div>

  <!-- Cards de las tiendas -->
  <div class="image-info-container">
    <img src="assets/img/nuestras-tiendas.png" alt="NUESTRAS TIENDAS" id="imgNuestrasTiendas">
  </div>
  <ion-card style="border-radius: 20px;">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="assets/img/tienda1.jpg" alt="Tienda 1">
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card-content>
            <p>Tienda 1 - Ubicada en Santiago Centro</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 20px;">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-card-content>
            <p>Tienda 2 - Ubicada en Valparaíso</p>
          </ion-card-content>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="assets/img/tienda2.jpg" alt="Tienda 2">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 20px;">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="assets/img/tienda3.jpg" alt="Tienda 3">
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card-content>
            <p>Tienda 3 - Ubicada en Concepción</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
