<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nosotros" href="/tabs/tab2">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio" href="/tabs/tab1">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/tab3">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
